#chef-game .jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  max-width: 680px;
  width: 70%;
  border-radius: 3px;
}

#chef-game .chef-game-welcome-wrapper {
  -webkit-box-shadow: 2px 1px 6px #2a3444;
  -moz-box-shadow: 2px 1px 6px #2a3444;
  box-shadow: 2px 1px 6px #2a3444;
  background: #fff;
  border-radius: 3px;
  float: left;
}

#chef-game .chef-game-welcome-wrapper .welcome-image-wrapper {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  height: 300px;
}

#chef-game .chef-game-welcome-wrapper .welcome-image-wrapper img {
  display: block;
  width: 110%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;
}

#chef-game .chef-game-welcome-wrapper .welcome-text {
  text-align: center;
  padding: 20px;
}

#chef-game .chef-game-welcome-wrapper .welcome-text h3 {
  margin: 10px 0;
}

#chef-game .chef-game-welcome-wrapper .how-it-works {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

#chef-game .chef-game-welcome-wrapper .chef-game-actions {
  margin: 35px 0 20px;
  float: left;
  width: 100%;
}

#chef-game .chef-game-welcome-wrapper .chef-game-actions button {
  font-size: 16px;
  width: 100%;
}
/*# sourceMappingURL=chef-styles.css.map */