.red-bg.hvr-fade:hover {
  background-color: #C72027; }

.round-button {
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none; }

.black-white-btn {
  border: 1px solid #000;
  color: #000; }

.red-btn {
  background-color: #C72027;
  border-color: #C72027;
  color: #fff; }

.white-btn-red-border {
  background-color: #fff;
  border-color: #C72027;
  color: #C72027; }

/*# sourceMappingURL=shared.css.map */
