@import 'variables';
//background hover colors
.red-bg.hvr-fade {
  &:hover {
    background-color: $main-color;
  }
}
// ActionButtons Styles
.round-button {
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none;
}

.black-white-btn {
  border: 1px solid #000;
  color: #000;
}

//Butons Styles
.red-btn {
  background-color: $main-color;
  border-color: $main-color;
  color: $white-color;
}

.white-btn-red-border {
  background-color: $white-color;
  border-color: $main-color;
  color: $main-color;
}