.HomePage .MainImage {
  background-image: url(https://www.10bis.co.il/Areas/G12/Content/Images/HomePage/HomePage_MainImage.jpg);
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}